alembic==0.8.9
awesome-slugify==1.6.5
babelfish==0.5.5
chardet==2.3.0
click==6.6
dataset==0.7.1
decorator==4.0.10
guessit==2.1.1
Mako==1.0.6
MarkupSafe==0.23
normality==0.3.6
python-dateutil==2.6.0
python-editor==1.0.3
PyYAML==3.12
rebulk==0.8.2
regex==2016.11.21
requests==2.12.3
six==1.10.0
SQLAlchemy==1.1.4
tqdm==4.10.0
Unidecode==0.4.19
validators==0.11.1
